<%if session[:name] %>    
  <div class="save-results-form">
  <%= @user.id %>
    <%= form_for @pwiki, new_user_personalwiki_path(@user) do |f| %>
        <%= f.hidden_field :articles, value: { title: "hello", id: "1234" } %>
        <%= f.submit "Save these articles" %>
    <% end %>
  </div>
<% end %>