
<div class="container books-index">
  <h2>Your personal wiki collection</h2>
  <div class="all-books col-md-8 col-centered">
    <ul class="list-unstyled"><% @books.each do |book| %>
      <div class="book-index-item">
       <li id = book.id>
         <%= link_to book.title, user_book_path(current_user.id, book.id), class: book.id %>
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
       </li>
      </div>
    <% end %>
    </ul>
  </div>
  <div class="container-fluid books-back">
    <div class="col-md-1 col-centered">
      <%= link_to "Back", root_path, class: "btn btn-back" %>
    </div>
  </div>
</div>
