<%if session[:user_id] %>    
  <div class="save-results-form">
    <%= form_for [@user, @book] do |f| %>
        <%= f.text_field :title %>
        <%= f.submit "Save these articles" %>
    <% end %>
  </div>
<% end %>