<ul class="list-unstyled">
  <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Click on a map marker to see the Wikipedia article</li>
  <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Click "Save" to put the article in your personal collection</li>
</ul>