  <div class="show-and-hide">
    <button class="btn show-search-btn highlight-btn"><span class="search-btn-text">Search</span><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    <button class="btn hide-search-btn"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
  </div>

<div class="search-area">

  <div class="row">
    <div class="search-coords">
      <button id="get-loc" class="btn btn-default">Search near you <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></button>
    </div>
  </div>

  <div class="row">
    <div class="search-query">
      <div class="search-form">
        <%= form_tag("/search", method: "get", :id => 'search', class: 'form-inline') do %>
          <%= text_field_tag :query, nil, placeholder: "Search by location", class: 'form-control' %>
          <button type="submit" id="search-query" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <%end%>
      </div>
    </div>
  </div>

</div>