
<div class="search-area col-md-4 col-sm-6 col-xs-12">

  <div class="row">
  <div id="hide-search-btn">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </div>
    <div class="search-coords">
      <%= button_tag id: "get-loc-dropdown", class: "btn btn-default highlight-btn" do %>
        Search near you <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
      <% end %>
      <%= form_tag("/search", method: "get", id: 'search-dropdown', class: 'form-inline') do %>
        <%= text_field_tag :query, nil, placeholder: "Search by location", id: 'search-query' %>
      <%end%>
    </div>
  </div>

</div>