<%if current_user %>
  <div id="intro-text">
    <h3>See something interesting?</h3>
      <p>Click on the map markers to see the wikipedia article for each one, and click "Save" to save the article in your personal collection. </p>
  </div>
  <div id="selected-articles-list">
    <h3>Ooh these look good</h3>
    <div id="selected-results">
      <ul class="list-unstyled"></ul>
    </div>
    <div class="selected-articles-save">
      <input type="text" id="book-title" placeholder="Name your collection">
      <input class="btn btn-primary" type="button" id="make-book" value="Save these articles">
    </div>
  </div>
<% end %>