<%if current_user %>
  <div id="selected-articles-list">
    <h3>Ooh these look good</h3>
      <div id="selected-results">
        <ul class="list-unstyled"></ul>
      </div>
        <form action="/"  id="make-book" class="col-md-4 col-centered">
          <input type="text" id="book-title" placeholder="Name your collection">
          <input class="btn highlight-btn" type="submit" value="Save these articles">
        </form>
  </div>
<% end %>