<h1>Wiki To Go!</h1>

<p>Search near you: <button id="get-loc">Get my location</button> </p>


<p>or search another location:</p>
<%= form_tag("/search", method: "get", :id => 'search') do %>

  <%= text_field_tag :query %>

  <%= submit_tag "Search", id: "button" %>
  
<%end%>

<button id="drop-markers">Show markers</button>

<div id="map-canvas" style="width: 400px; height: 300px"> </div>

<div id="results"></div>

