<%= content_tag :div, class: "results", data: {results: @results} do %>
<% end %>
<div class="search-results-header">
  <h3>Your search results</h3>
</div>
<ul class="list-unstyled search-results">
  <% @results.each do |result| %>
  <% pageid = result[:id].to_s %>
	<% link = 'http://en.wikipedia.org/?curid=' + pageid %>
	<% title = result[:title] %>
	<li>
		<%= link_to(title, link, target: 'blank', class: "show-preview") %>
    <%= content_tag :span, class: "glyphicon glyphicon-link open-article", id: "#{pageid}" do%><% end %>
    <%= content_tag :span, class: "glyphicon glyphicon-star save-article", id: "#{pageid}" do%><% end %>
  </li>
  <%end%>
</ul>
