<%= content_tag :div, class: "results", data: {results: @results} do %>
<% end %>
<h3>Not a map person?</h3>
<h4>Here's a list of your search results.</h4>
<ul class="list-unstyled search-results">
  <% @results.each do |result| %>
  <% pageid = result[:id].to_s %>
	<% link = 'http://en.wikipedia.org/?curid=' + pageid %>
	<% title = result[:title] %>
	<li>
		<%= link_to(title, link, target: 'blank') %>
    <%= content_tag :span, class: "glyphicon glyphicon-plus #{pageid}" do%><% end %>
  </li>
  <%end%>
</ul>
