<%= content_tag :div, class: "results_array", data: {results_array: @results_array} do %>
<% end %>

<ul>
  <% @results_array.each do |result| %>
	<% link = result[1]["fullurl"] %>
	<% title = result[1]["title"] %>
	<li><%= link_to(title, link) %></li>
  <%end%>
</ul>


