
.book-index-item {
  border-bottom: 1px solid #147363;
  padding: 5px 10px;
  li {
    font-size: 16px;
  }
}

.books-index h2 {
  text-align: center;
  font-weight: 800;
  padding-bottom: 20px;
}

.book-index-item span {
  float: right;
  font-size: 14px;
}

.article-list h2 {
  text-align: center;
  font-weight: 800;
}

.btn-hide-article, .btn-show-article {
  width: 80px;
}

.article-item {
  border-bottom: 1px solid #147363;
  padding: 5px 10px 30px 10px;
  li {
    font-size: 16px;
  }
  .glyphicon {
    font-size: 12px;
    padding: 0 3px;
  }
}

.btn-hide-article {
  display: none;
}

.article-intro {
  display: none;
}

.btn-back {
  margin: 30px 0 50px 0;
}

.delete-article-btn {
  float: right;
  background-color: #D1D1D1;
}

.delete-article-btn:hover {
  background-color: #A8A8A8;
}

.generating-pdf {
  display: inline-block;
}

.hidden {
  display: none;
}

.book-map-area {
  width: 100%;
  height: 350px;
}

.book-map-canvas {
  width: 100%;
  height: 100%;
}