
.book-index-item {
  border-bottom: 1px solid #147363;
  padding: 5px 10px;
  li {
    font-size: 16px;
  }
}

.books-index h2 {
  text-align: center;
  font-weight: 800;
  padding-bottom: 20px;
}

.book-index-item span {
  float: right;
  font-size: 14px;
}

.article-list h2 {
  text-align: center;
  font-weight: 800;
}

.btn-hide-article, .btn-show-article {
  width: 80px;
}

.article-item {
  border-bottom: 1px solid #147363;
  padding: 5px 10px 30px 10px;
  li {
    font-size: 16px;
  }
  .glyphicon-link {
    font-size: 12px;
    padding: 0 3px;
  }
}

.btn-hide-article {
  display: none;
}

.article-intro {
  display: none;
}

.btn-back {
  margin: 30px 0 50px 0;
}