/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html{
    min-height:100%;
    height: 100%;
    position:relative
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	height: 100%;
	font-size: 16px;
	padding-bottom: 80px;
}

h1, h2, h3, h4 {
	color: #147363;
	font-weight: 800;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 14px
}

.glyphicon {
	padding: 0 5px;
}

.title-area {
	position: fixed;
	width: 100%;
	top: 60%;
	left: 5%;
	z-index: 2;
	margin: 0;
	padding: 0;
	h1 {
		text-transform: uppercase;
		font-size: 80px;
		color: #000;
	}
	h2 {
		font-size: 50px;
		color: #000;
	}
	.heavy {
		font-weight: 400;
	}
	.light {
		font-weight: 100;
	}
}

.description1, .description2, .description3 {
	position: absolute;
	width: 100%;
	opacity: 0;
}

.fadein-fadeout {
	-webkit-animation: fade-in-out 3s;
	-moz-animation: fade-in-out 3s;
	-o-animation: fade-in-out 3s;
	animation-name: fade-in-out 3s;
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadein {
	animation-name: fadein;
	animation-duration: 1.5s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.footer {
	position: fixed;
	bottom: 0;
  margin-top: 40px;
  height: 50px;
  clear:both;
	width: 100%;
	border-top: 2px solid #DBE8E3;
	background-color: #F5F5F5;
	* {
		display: inline-block;
		padding: 5px;
	}
	.glyphicon {
		color: #147363;
	}
}

.footer-wrapper {
	padding-top: 50px;
}

.btn {
	background-color: #147363;
	border-style: none;
	color: #FFF;
}

.btn:hover {
	background-color: #00483C;
	color: #FFF;
}

.map-area {
	height: 500px;
	border-bottom: 5px solid #147363;
}

.map-area-intro {
	position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  opacity: .8;
}

.map-area-loggedout {
	width: 100%;
	height: 500px;
	position: relative;
	top: -80px;
  margin-bottom: -80px;
}

.navbar {
	background-color: #2FA176;
	border-bottom: 5px solid #147363;
	margin-bottom: 0;
	z-index: 6;
}

.icon-bar {
	background-color: #FFF !important;
}

.navbar-toggle:focus {
	background-color: #147363 !important;
}

.navbar-toggle:hover {
	background-color: #147363 !important;
}

#intro-text {
	display: none;
	z-index: 5;
	background-color: #2FA176;
	border-radius: 8px;
	width: 200px;
	padding: 15px;
	position: fixed;
	top: 100px;
	right: 0;
	* {
		color: #FFF !important;
	}
	h3 {
		margin-top: 0;
		padding-top: 0;
	}
	li {
		padding: 4px 0 4px 0;
	}
	button {
		float: right;
		background-color: #2FA176;
	}
}


.user-selected-articles {
	display: none;
	padding: 0;
}

.selected-articles-header {
	width: 100%;
	background-color: #147363;
	position: absolute;
	padding: 0;
	h3 {
		color: #FFF;
		margin: 0;
		padding: 20px 10px;
		text-align: center;
	}
}

.save-article {
	float: right;
	font-weight: bold;
	color: #FFF;
	background-color: #147363;
	border-style: none;
}

.save-article:hover {
	background-color: #2FA176;
	color: #FFF;
}

.show-and-hide {
	position: absolute;
	height: 40px;
	width: 100%;
	button {
		margin: 0;
	}
}

.hide-search-btn, .show-search-btn {
	position: absolute;
	top: auto;
	left: 0;
	z-index: 4;
	width: 100%;
	max-width: 400px;
	border-radius: 0 0 8px 8px;
	span {
		color: #FFF;
		padding: 5px;
		font-size: 20px;
	}
}

.show-search-btn {
	height: 60px;
	top: -15px;
	padding-top: 20px;
	width: 100%;
	max-width: 400px;
	left: 0;
	margin: 0 auto;
	/*display: none;*/

	button, input {
		font-size: 18px;
		border-radius: 8px;
		border-style: none;
		background-color: #FFF;
		height: 40px;
		padding: 5px 15px;
		color: #08084D;
		}
}

.search-coords {
	float: none;
	margin: 20px;
}

.search-query {
	float: none;
	margin: 20px;
}

.hide-search-btn {
	display: none;
	text-align: right;
}

.bounce {
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	-o-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}

@-moz-keyframes bounce {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}

@-o-keyframes bounce {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}

.search-btn-text {
	color: #FFF;
	font-size: 20px !important;
	font-weight: 400;
}

.hide-search-btn {
	text-align: right;
}

.hide-search-btn:hover {
	background-color: #147363;
}

.show-search-btn:hover {
	background-color: #147363;
}

.search-area {
	background: #147363;
	border-radius: 0 0 8px 8px;
	padding: 50px 30px 30px 30px;
	z-index: 3;
	position: absolute;
	width: 100%;
	max-width: 400px;
	/*right: 0;*/
	/*left: 5%;*/
	/*margin: 0 auto;*/
	display: none;

	button, input {
		font-size: 18px;
		border-radius: 8px;
		border-style: none;
		background-color: #FFF;
		/*height: 40px;*/
		color: #08084D;
		}
}

.search-coords {
	margin: 10px;
}

.search-query {
	margin: 10px;
}

.glyphicon-screenshot {
	padding: 0 7px;
}

/*.search-everything {
	position: relative;
	width:100%;
}*/

#selected-results {
	span {
		float: right;
	}
	li {
		font-size: 16px;
		border-bottom: 1px solid #D3D3D3;
		padding: 5px 10px;
	}
}

#selected-articles-list {
	padding: 15px;
}

.glyphicon-remove-circle {
	font-size: 20px !important;
}

.glyphicon-remove:hover {
	cursor: pointer;
	font-weight: bold;
}

.glyphicon-plus {
	float: right;
	color: #2FA176;
}

.glyphicon-plus:hover {
	cursor: pointer;
	font-weight: bold;
}

.search-results li {
	font-size: 16px;
	border-bottom: 1px solid #D3D3D3;
	padding: 5px 10px;
}

.dropdown-menu span {
	font-size: 12px;
	padding: 0 5px;
	color: #B5B5B5;
} 

.menu-white-text, {
	color: #FFF !important;
	font-size: 16px;
}

.menu-white-text:hover {
	font-weight: 400;
}

.flash-messages {
	background: #FF960E;
	z-index: 5;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 40px;
	padding: 10px;
}

.page-not-found, .internal-server-error, .unprocessable {
	margin: 50px;
	text-align: center;
}

.navbar-brand {
	color: #FFF !important;
	font-weight: 400;
}

.highlight-text {
	color: #FF960E;
}
