/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	font-family: 'Roboto', sans-serif;
}

.map-area {
	height: 500px;
}

.user-selected-articles {
	display: none;
}

#selected-articles-list {
	display: none;
}

.title {
	width: 100%;
	height: 60px;
	background-color: #F4F4F4;
	top: 0px;
	margin: 0px;
}

.title h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #000;
	font-size: 40px;
	text-align: center;
	padding-top: 5px;
	margin-top: 0px;
}

.search_coords {
	height: 100px;
}

.search_coords button {

	color: #1B1B1B;
	margin: 25px auto;
	display: table;
}

.seach_query {
	height: 100px;
	color: #1B1B1B;
	}

.search_form {
	margin: 25px auto;
	display: table;
}

#selected-results span {
	float: right;
}

#selected-results li {
	font-size: 16px;
}

.selected-articles-save * {
	padding: 5px 10px;
}

.glyphicon-remove:hover {
	cursor: pointer;
	font-weight: bold;
}

.glyphicon-plus {
	float: right;
	color: #00D52C;
}

.glyphicon-plus:hover {
	cursor: pointer;
	font-weight: bold;
}

.search-results li {
	font-size: 16px;
	border-bottom: 1px solid #D3D3D3;
	padding: 5px 10px;
}

.dropdown-menu span {
	font-size: 12px;
	padding: 0 5px;
	color: #B5B5B5;
}