/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html{
    min-height:100%;
    position:relative
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	height: 100%;
}

h1, h2, h3, h4 {
	color: #147363
}

.btn {
	background-color: #147363;
	border-style: none;
	color: #FFF;
}

.btn:hover {
	background-color: #2FA176;
	color: #FFF;
}

.map-area {
	height: 400px;
	padding-top: 25px;
}

.map-area-intro {
	position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.navbar {
	background-color: #2FA176;
	z-index: 1;
	border-bottom: 5px solid #147363;
	margin-bottom: 0;
}

/*.navbar-right > li, .dropdown a {
	color: #FFF;
	font-weight: 300;
	font-size: 16px;
}

.dropdown-menu li a {
	color: #262626;
}*/

#intro-text h3 {
	color: #147363;
}

.user-selected-articles {
	display: none;
}

#selected-articles-list {
	display: none;
}

.save-article {
	font-weight: bold;
	color: #FFF;
	background-color: #147363;
	border-style: none;
}

.save-article:hover {
	background-color: #2FA176;
	color: #FFF;
}

.title {
	width: 100%;
	height: 60px;
	background-color: #F4F4F4;
	top: 0px;
	margin: 0px;
}

.title h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #000;
	font-size: 40px;
	text-align: center;
	padding-top: 5px;
	margin-top: 0px;
}

.search-area {
	width: 100%;
	background: #147363;
	height: 120px;
	top: 0px;

	button, input {
		font-size: 18px;
		border-radius: 8px;
		border-style: none;
		background-color: #FFF;
		height: 40px;
		padding: 5px 15px;
		color: #08084D;
		}
}


/*.search-area-tab*/

/*.search-area button, .search-area input {
	font-size: 18px;
	border-radius: 8px;
	border-style: none;
	background-color: #FFF;
	font-weight: 400;
}*/

.glyphicon-screenshot {
	padding: 0 7px;
}

.search_coords {
	height: 100px;
}

.search_coords button {

	color: #1B1B1B;
	margin: 25px auto;
	display: table;
}

.seach_query {
	height: 100px;
	color: #1B1B1B;
	}

.search_form {
	margin: 25px auto;
	display: table;
}

#selected-results span {
	float: right;
}

#selected-results li {
	font-size: 16px;
}

.selected-articles-save * {
	padding: 5px 10px;
}

.glyphicon-remove:hover {
	cursor: pointer;
	font-weight: bold;
}

.glyphicon-plus {
	float: right;
	color: #2FA176;
}

.glyphicon-plus:hover {
	cursor: pointer;
	font-weight: bold;
}

.search-results li {
	font-size: 16px;
	border-bottom: 1px solid #D3D3D3;
	padding: 5px 10px;
}

.dropdown-menu span {
	font-size: 12px;
	padding: 0 5px;
	color: #B5B5B5;
}

.menu-white-text, {
	color: #FFF !important;
	font-size: 16px;
}

.menu-white-text:hover {
	font-weight: 400;
}

