.user-profile {
  border: 5px solid #2FA176;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  top: 50px;
  li {
    font-size: 16px;
  }
}

.user-profile-info {
  font-weight: 400;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.edit-form-fields input {
  font-size: 16px;
  margin: 5px;
}

.edit-form-fields .btn {
  font-size: 14px;
}

.user-profile-registration-form {
  input {
    padding: 5px;
    font-size: 16px;
  }
}