<div class='footer-wrapper'>
  <footer class="footer">
    <div clas="footer-area" style="display: block; float: right;">
      <p class="text-muted">Made with enthusiasm by Sharon Kennedy </p>
      <a href="https://github.com/s-kennedy" target="blank"><i class="fa fa-github"></i></a>
      <a href="https://es.linkedin.com/in/kennedysharon/" target="blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </footer>
</div>